.header-component {
  &.navbar {
    padding: .5rem 1rem;
    position: fixed !important;
    z-index: 1;
    width: 100%;
    color: var(--theme-text);
    z-index: 2;
    // background-color: rgba(0, 0, 0, 0.4);
    
    .navbar-brand {
      font-size: 1.5em;
      font-weight: 600;
      display: flex;
      align-items: center;

      svg {
        margin-left: 0.2em;
      }
    }
  
    a, a:hover {
      color:var(--theme-text);
      text-decoration: none;
    }
  }
}
